@{
    ViewBag.Title = "Thankyou";
}
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>We have got your message</strong>, will back to you soon</p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Index">Continue to homepage</a>
    </p>
</div>