@model List<VehicleCategory>

<h2>All Categories</h2>
<a asp-action="Create" class="btn btn-primary">Add New Category</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category Name</th>           
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryName</td>           
                <td>
                    <a asp-controller="Category" asp-action="EditCategory" asp-route-id="@category.CategoryId" class="btn btn-sm btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@category.CategoryId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
