@using RentalAssignment.ViewModels
@model EditBikeViewModel

@{
    ViewBag.Title = "Edit Bike Details";
}
<form asp-controller="Bike" asp-action="Edit" method="post" class="form-group">
    <input hidden asp-for="BikeId" />
    <div class="form-group">
        <label asp-for="OwnerName"></label>
        <input asp-for="OwnerName" class="form-control" placeholder="Owned By" />
    </div>
    <div class="form-group">
        <label asp-for="BikeModel"></label>
        <input asp-for="BikeModel" class="form-control" placeholder="Model" />
    </div>
    <div class="form-group">
        <label asp-for="BikeNumberPlate"></label>
        <input asp-for="BikeNumberPlate" class="form-control" placeholder="License Plate Number" />
        <span asp-validation-for="BikeNumberPlate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChassisNumber"></label>
        <input asp-for="ChassisNumber" class="form-control" placeholder="Engine Number" />
        <span asp-validation-for="ChassisNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BikeColour"></label>
        <input asp-for="BikeColour" class="form-control" placeholder="Colour" />
    </div>
    <div class="form-group">
        <label asp-for="BikeEngine"></label>
        <input asp-for="BikeEngine" class="form-control" placeholder="Colour" />
    </div>
    <div class="form-group">
        <label asp-for="sittingCapacity"></label>
        <input asp-for="sittingCapacity" class="form-control" placeholder="Colour" />
    </div>
    <div class="form-group">
        <label asp-for="OwnerPhone"></label>
        <input asp-for="OwnerPhone" class="form-control" placeholder="Colour" />
    </div>
    <div>
        <button class="btn btn-secondary" type="submit">Add Bike</button>
    </div>



</form>
