@using RentalAssignment.Enums
@using RentalAssignment.ViewModels
@model VehicleCreateViewModel

@{
    ViewBag.Title = "Add Vehicle";
}
<h1 class="text-center">Add Vehicle</h1>
<span class="text-center text-danger">@ViewBag.message</span>
<form asp-controller="Home" asp-action="Create" method="post" class="form-group" enctype="multipart/form-data">
    <div class="container-fluid pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="mb-4">Personal Details</h2>
                    <div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <input asp-for="OwnerName" class="form-control" placeholder="Owner Name" required="required">
                            </div>
                            <div class="col-6 form-group">
                                <input asp-for="OwnerPhone" class="form-control" placeholder="Owner Phone" required="required">
                            </div>
                        </div>                       
                    </div>
                    <h2>Car Details</h2>
                    <div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label asp-for="VehicleModel">Vehicle Model</label>
                                <input asp-for="VehicleModel" class="form-control" placeholder="Car Make" required="required">
                            </div>
                            <div class="col-6 form-group">
                                <label asp-for="VehicleType">Car Type</label>
                                <select class="form-control" asp-for="VehicleType" asp-items="Html.GetEnumSelectList<VehicleType>()">
                                    <option>Please Select</option>
                                </select>
                            </div>
                            <div class="col-6 form-group">
                                <label asp-for="VehicleCategoryId">Vehicle Category</label>
                                <select class="form-control" asp-for="VehicleCategoryId" asp-items="ViewBag.category">
                                    <option>Please Select</option>
                                </select>
                            </div>
                            <div class="col-6 form-group">
                                <label asp-for="ChassisNumber">Chassic Number</label>
                                <input asp-for="ChassisNumber" class="form-control" placeholder="Chassis Number" required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">   
                                <label asp-for="VehicleNumberPlate">Vehicle Number</label>
                                    <input asp-for="VehicleNumberPlate" class="form-control" placeholder="Vehicle Plate" />                              
                            </div>
                            <div class="col-6 form-group">
                                <label asp-for="VehicleColour">Select Color</label>
                                <select class="form-control" asp-for="VehicleColour" asp-items="Html.GetEnumSelectList<VehicleColour>()">
                                    <option>Please Select</option>
                                </select>
                            </div>
                        </div>
                      
                        <div class="row">
                            <div class="col-6 form-group">
                                <label asp-for="sittingCapacity">Sitting Capacity</label>
                                <input asp-for="sittingCapacity" class="form-control" placeholder="Sitting Capacity" required="required">
                            </div>
                            <div class="col-6 form-group">
                                <label asp-for="Photo">Vehicle Image</label>
                                <input asp-for="Photo" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="row">                           
                            <div class="col-6 form-group">
                                <label asp-for="RentPerDay">Rent Price</label>
                                <input asp-for="RentPerDay" class="form-control" placeholder="Rent Per Day" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="Submit" class="btn btn-primary" style="background-color:#2b2e4a!important;">Add Vehicle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</form>