@model ApplicationUser
@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

@if (Model.Id != null)
{
    <a asp-action="Register" asp-controller="Account"
   class="btn btn-primary mb-3" style="width:auto">
        Sign Up
    </a>

    <div class="card">
        <div class="card-header">
            @Model.UserName
        </div>

        <div class="card-body">
            <a class="btn btn-primary" style="width:auto"
           asp-controller="Account" asp-action="Register">
                Add new user
            </a>
        </div>
    </div>
}