@model LoginViewModel
@{
    ViewBag.Title = "User Login";
}
<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

            <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">          
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <!-- 2 column grid layout with text inputs for the first and last names -->                       

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email"  class="form-control" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Password" class="form-label" for="form3Example4">Password</label>
                            <input asp-for="Password" id="form3Example4" class="form-control" />
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">                            
                            <label class="form-label text-dark" for="form2Example33">
                                Don't Have an Account <a asp-controller="Account" asp-action="Register">Sign Up!Now</a>
                            </label>
                        </div>
                        <span class="text-danger">@ViewBag.ErrorMessage</span>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-dark btn-block mb-4">
                            Login
                        </button>
                       
                    </form>
                     @*    <form asp-controller="Account" asp-action="ExternalLogin">
                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                            <button class="text-dark"><i class="fab fa-facebook-f fa-lg"></i></button>
                            <button href="#!" class="text-dark"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></button>
                            <button title="Login using your Google Account" name="provider" class="text-dark"><i class="fab fa-google fa-lg"></i></button>

                        </form> *@

                       
                    </div>
           
                </div>
            </div>
        </div>
    </div>
</div>